.citron {
    margin-top: 35em;
    margin-left: 80em;
    width: 10em;
    height: 10em;
    border-radius: 70% 0 70% 0;
    background-color: yellow;
    box-shadow: inset .6em -.6em rgb(0, 0, 0, 0.3);
}

.citron::before{
    content: "";
    clear: both;
    position: relative;

    display: flex;

    top: -1.5em;
    left: 6.5em;

    width: 0;
    height: 0;

    background-color: #539e3d;
    border-bottom: 3em solid rgb(0, 0, 0, 0.3);
    border-left: 3em solid transparent;
    border-radius: 70% 0 70% 0;
    transform: rotate(45deg);
}

.citron-left-eye {
    width: 90px;
    height: 90px;
    border: 5px solid #e6e619;
    background: #FFFFFF;
    border-radius: 50%;
    position: absolute;
    top: 36em;
    left: 80em;
  }

.citron-left-eye::after {
    content:"";
    position: absolute;
    border-radius: 50%;
    background-color: #000000;
    width: 35px;
    height: 35px;
    left: 30px;
    top: 30px;
  }

.citron-right-eye {
    width: 90px;
    height: 90px;
    border: 5px solid #e6e619;    
    background: #FFFFFF;
    border-radius: 50%;
    position: absolute;
    top: 36em;
    left: 85em;
  }

.citron-right-eye::after {
    content:"";
    position: absolute;
    border-radius: 50%;
    background-color: #000000;
    width: 35px;
    height: 35px;
    left: 30px;
    top: 30px;
  }
.citron-mouth {
    width: 30px;
    height: 20px;
    border-radius: 0 0 5em 5em;
    border-bottom: 5px solid #675340;
    border-right: 5px solid #675340; 
    border-left: 5px solid #675340; 
    position: absolute;
    top: 42em;
    left: 84em;
  }

  .sandia-left-eye {
    width: 55px;
    height: 55px;
    border: 5px solid #201008;    
    background: #FFFFFF;
    border-radius: 50%;
    position: absolute;
    top: 30px;
    left: 60px;
  }

  .sandia-left-eye::after {
    content:"";
    position: absolute;
    border-radius: 50%;
    background-color: red;
    width: 30px;
    height: 30px;
    left: 12px;
    top: 12px;
  }

  .sandia-right-eye {
    width: 55px;
    height: 55px;
    border: 5px solid #160c08;      
    background: #FFFFFF;
    border-radius: 50%;
    position: absolute;
    top: 30px;
    left: 180px;
  }

  .sandia-right-eye::after {
    content:"";
    position: absolute;
    border-radius: 50%;
    background-color:red;
    width: 30px;
    height: 30px;
    left: 12px;
    top: 12px;
  }
  
  .medio-circulo{
    width: 310px;
    height: 140px;
    background: red;
    border-radius:  0  0 120px 120px;
    position:absolute;
    left: 13px;
    top: 9px;
 }
 .medio-circulo2{
    width: 340px;
    height: 160px;
    background: rgb(40, 82, 24);
    border-radius:  0  0 130px 130px;
    position:relative;
    top: 380px;
    left: 30px;
   
 }
 .sandia-boca{
    width: 30px;
    height: 20px;
    border-radius: 0 0 5em 5em;
    border-bottom: 5px solid #474067; 
    border-right: 5px solid #4a4067; 
    border-left: 5px solid #444067; 
    position: absolute;
    left: 130px;
    top: 100px;
}
.circulo{
    width: 10px;
    height: 10px;
    background:black;
    border-radius: 50%;
    position: absolute;
    left: 10px;
    top: 10px;
}
.circulo2{
    width: 10px;
    height: 10px;
    background:black;
    border-radius: 50%;
    position: absolute;
    left: 20px;
    top: 30px;
}
.circulo3{
    width: 10px;
    height: 10px;
    background:black;
    border-radius: 50%;
    position: absolute;
    left: 40px;
    top: 40px;
}
.circulo4{
    width: 10px;
    height: 10px;
    background:black;
    border-radius: 50%;
    position: absolute;
    left: 65px;
    top: 90px;
}
.circulo5{
    width: 10px;
    height: 10px;
    background:black;
    border-radius: 50%;
    position: absolute;
    left: 260px;
    top: 100px;
}
.circulo6{
    width: 10px;
    height: 10px;
    background:black;
    border-radius: 50%;
    position: absolute;
    left: 90px;
    top: 20px;
}
.circulo7{
    width: 10px;
    height: 10px;
    background:black;
    border-radius: 50%;
    position: absolute;
    left: 120px;
    top: 100px;
}
.circulo8{
    width: 10px;
    height: 10px;
    background:black;
    border-radius: 50%;
    position: absolute;
    left:90px;
    top: 20px;
}
.circulo9{
    width: 10px;
    height: 10px;
    background:black;
    border-radius: 50%;
    position: absolute;
    left: 160px;
    top: 30px;
}
.circulo10{
    width: 10px;
    height: 10px;
    background:black;
    border-radius: 50%;
    position: absolute;
    left: 150px;
    top: 50px;
}
.circulo11{
    width: 10px;
    height: 10px;
    background:black;
    border-radius: 50%;
    position: absolute;
    left: 180px;
    top: 120px;
}
.circulo12{
    width: 10px;
    height: 10px;
    background:black;
    border-radius: 50%;
    position: absolute;
    left: 240px;
    top: 35px;
}
.circulo13{
    width: 10px;
    height: 10px;
    background:black;
    border-radius: 50%;
    position: absolute;
    left: 280px;
    top: 60px;
}
.circulo14{
    width: 10px;
    height: 10px;
    background:black;
    border-radius: 50%;
    position: absolute;
    left: 300px;
    top: 220px;
}
.banana {
    height: 400px;
    width: 400px;
    top: 5px;
    left: 350GITpx;
    position: relative;
  }
  
  .banana-body {
    height: 50%;
    width: 5px;
    top: 50px;
    left: 160px;
    border-right: 180px solid #ffff00;  
    border-radius: 0 150px 150px 0%;
    position: absolute;
    transform: rotate(15deg);
  }

  .banana-outline {
    height: 140%;
    width: 20px;
    top: -20px;
    left: -50px;
    border-top: 30px solid transparent;
    border-right: 120px solid #ffffff;  
    border-radius: 0 120px 120px 0%;
    position: absolute;
  }
  .banana-left-eye {
    width: 70px;
    height: 70px;
    border: 5px solid #e6e619;    
    background: #FFFFFF;
    border-radius: 50%;
    position: absolute;
    top: 100px;
    left: 230px;
  }
  
  .banana-left-eye::after {
    content:"";
    position: absolute;
    border-radius: 50%;
    background-color: #000000;
    width: 25px;
    height: 25px;
    left: 18px;
    top: 20px;
  }
  
  .banana-right-eye {
    width: 70px;
    height: 70px;
    border: 5px solid #e6e619;    
    background: #FFFFFF;
    border-radius: 50%;
    position: absolute;
    top: 100px;
    left: 290px;
  }
  
  .banana-right-eye::after {
    content:"";
    position: absolute;
    border-radius: 50%;
    background-color: #000000;
    width: 25px;
    height: 25px;
    left: 20px;
    top: 20px;
  }
  .banana-mouth {
    width: 20px;
    height: 10px;
    border-radius: 0 0 5em 5em;
    border-bottom: 5px solid #675340; 
    border-right: 5px solid #675340; 
    border-left: 5px solid #675340;
    position: absolute;
    left: 270px;
    top: 185px;
  }
  .banana-end {
    width: 10px;
    height: 15px;
    border-radius: 0 0 3em 3em;
    background: #996633;          
    position: absolute;
    transform: rotate(65deg);
    bottom: 60px;
    left: 210px;
    top:240px;
  }
  
  .banana-top {
    width: 35px;
    height: 12px;
    background: #4d9933;           
    position: absolute;
    transform: rotate(25deg);
    border-radius: 50% 0 0 50%;
    top: 33px;
    left: 200px;
  }
  .piernas {
    position: relative;
    bottom: 28px;
    left: 250px;
    top: 220px;
  }
  .pies {
    width: 40px;
    height: 3px;
    background-color: #000;
    display: inline-block;
    transform: rotate(90deg);
    z-index:0;
  }
  .pies1 {
    width: 40px;
    height: 3px;
    background-color: #000;
    display: inline-block;
    transform: rotate(90deg);
  }
.zapas {
    position: relative;
    bottom: 28px;
    left: 50px;
    top: 200px;
}
.zapa1 {
    width: 25px;
    height: 12px;
    background: #3f3617;          
    position: absolute;
    border-radius: 50% 0 0 50%;
    top: 33px;
    left: 200px;
}
.zapa2 {
    width: 25px;
    height: 12px;
    background: #3f3617;              
    position: absolute;
    border-radius: 50% 0 0 50%;
    transform: rotate(-30deg);
    top: 33px;
    left: 250px;
}
.manzana{
  width: 300px;
  height: 300px;
  border-radius: 100%;
  position: absolute;
  color: red;
  box-shadow: 
  1100px 400px 0 0 currentColor;
}
.manzana-left-eye {
  width: 90px;
  height: 90px;
  border: 5px solid black;      
  background: wheat;
  border-radius: 50%;
  position: absolute;
  top: 500px;
  left: 1100px;
}

.manzana-left-eye::after {
  content:"";
  position: absolute;
  border-radius: 50%;
  background-color: #000000;
  width: 35px;
  height: 35px;
  left: 30px;
  top: 30px;
}

.manzana-right-eye {
  width: 90px;
  height: 90px;
  border: 5px solid black;      
  background: wheat;
  border-radius: 50%;
  position: absolute;
  top: 500px;
  left: 1200px;
}

.manzana-right-eye::after {
  content:"";
  position: absolute;
  border-radius: 50%;
  background-color: #000000;
  width: 35px;
  height: 35px;
  left: 30px;
  top: 30px;
}
.manzana-mouth {
  width: 30px;
  height: 20px;
  border-radius: 0 0 5em 5em;
  border-bottom: 5px solid #000000; 
  border-right: 5px solid #000000; 
  border-left: 5px solid #000000; 
  position: absolute;
  left: 1200px;
  top: 660px;
}
.manzana-mouth2 {
  width: 30px;
  height: 20px;
  border-radius: 0 0 5em 5em;
  border-bottom: 5px solid #000000; 
  border-right: 5px solid #000000; 
  border-left: 5px solid #000000; 
  position: absolute;
  left: 1160px;
  top: 660px;
}
.sombrero{
    width: 210px;
    height: 160px;
    left: 1150px;
    top: 300px;
    border-radius: 1000% 1000% 0 0;
    position: absolute;
    color: black;
    background-color: black;
}
.sombrero::before{
    content: "";
    position: absolute;
    left: -50px;
    top: 150px;
    width: 300px;
    height: 20px;
    background-color: black;
    border-radius: 100px;
}
.bigote{
  width: 50px;
  height: 50px;
  left: 910px;
  top: 100px;
  border-radius: 50%;
  position: absolute;
  color:black;
  box-shadow: 250px 500px 0 0 currentColor,
              300px 500px 0 0 currentColor;
  
  }
  .bigote::before{
  content: "";
  position: absolute;
  left: 120px;
  top: 350px;
  width: 200px;
  height: 130px;
  border-bottom: solid 50px currentColor;
  border-radius: 0 0 0 100%;
  transform: rotate(-40deg);
  transform-origin: right 220px;
  }
  .bigote::after{
  content: "";
  position: absolute;
  left: 300px;
  top: 300px;
  width: 200px;
  height: 190px;
  border-bottom: solid 50px currentColor;
  border-radius: 0 0 100% 0;
  transform: rotate(40deg);
  transform-origin: left 250px;
  }
  .Cherry{
    top: 250px;
    height:150px;
    width: 150px;
    border-radius: 50%;
    position: absolute;
    color: rgb(206, 57, 64);
    background-color: currentColor;
    left: 750px;
}
.Cherry2{
    top: 250px;
    height:150px;
    width: 150px;
    border-radius: 50%;
    position: absolute;
    color: rgb(206, 57, 64);
    background-color: currentColor;
    left: 720px;
}
.Cherry_ojos_izquierda{
    width: 60px;
    height: 60px;
    border: 5px solid #b55166;
    background: #FFFFFF;
    border-radius: 50%;
    position: absolute;
    top: 250px;
    left: 750px;
}
.Cherry_ojos_izquierda::after{
    content:"";
    position: absolute;
    border-radius: 50%;
    background-color: #000000;
    width: 17px;
    height: 17px;
    left: 15px;
    top: 15px;
}
.Cherry_ojos_derecha{
    width: 60px;
    height: 60px;
    border: 5px solid #b55166;
    background: #FFFFFF;
    border-radius: 50%;
    position: absolute;
    top: 250px;
    left: 820px;
}
.Cherry_ojos_derecha::after{
    content:"";
    position: absolute;
    border-radius: 50%;
    background-color: #000000;
    width: 17px;
    height: 17px;
    left: 15px;
    top: 15px;
}
.Cherry_boca{
    width: 30px;
    height: 20px;
    border-radius: 0 0 5em 5em;
    border-bottom: 5px solid #675340; 
    border-right: 5px solid #675340; 
    border-left: 5px solid #675340; 
    position: absolute;
    left: 800px;
    top: 320px;
}
.Cherry_Rama{
    content: "";
    position: absolute;
    left: 850px; top: 200px;
    width: 210px; height: 40px;
    border-bottom: solid 20px #7a23009d;
    border-radius: 0 100% 0 100%;
    transform: rotate(240deg);
    transform-origin: left 40px;
}
.Cherry_hoja{
    content: "";
    clear: both;
    position: relative;
    display: flex;
    top: 25px;
    left: 770px;
    width: 0;
    height: 0;
    background-color: #539e3d;
    border-bottom: 3em solid #0000004d;
    border-left: 3em solid transparent;
    border-radius: 80% 0 70% 0;
    transform: rotate(10deg);
}
#kiwi-sombrero{
  width:140px;
  height: 100px;   
 left: 250px;
 top: 40px;
 border-radius: 1000% 1000% 100% 100%;
 position: absolute;
 color: #020000fa;
 background-color: #000701;
 }
 #kiwi-sombrero::before{
     content:"";
     position: absolute;
     border-radius: 200%;
     background-color: #000000;
     width: 200px;
     height: 20px;
     left: -30px;
     top: 90px;
    }
#kiwi-cara{
  border-radius:100%;
  border: 15px rgb(3, 2, 2) solid;
  width: 120px;
  height: 105px;
  position: absolute;
  left: 240px;
  top: 130px;
  background: #17ff36;
}
#ojo1{
  width: 30px;
  height: 50px;
  border: 5px solid #3fffcf;
  background: #FFFFFF;
  border-radius: 50%;
  position: absolute;
  top: -30px;
  left: 20px;
}
#pupila1:after{
  content:"";
  position: absolute;
  border-radius: 150%;
  background-color: #000000;
  width: 15px;
  height: 35px;
  left: 8px;
  top: 4px;
}
#ojo2{
  width: 30px;
  height: 50px;
  border: 5px solid #19e6cb;
  background: #FFFFFF;
  border-radius: 50%;
  position: absolute;
  top: -30px;
  left: 65px;
}
#pupila2::after{
  content:"";
  position: absolute;
  border-radius: 50%;
  background-color: #000000;
  width: 15px;
  height: 35px;
  left: 8px;
  top: 4px;
}
#kiwi-boca{
  background-color: #e70808;
  width: 50px;
  height: 43px;
  position: absolute;
  top: 40px;
  left: 40px;
 border: 5px black solid;
 border-radius: 30% 50% 150% 150%;
}
#nariz{
  background-color: #130e0e;
  border-radius:100%;
  border: 5px black solid;
  width: 30px;
  height: 30px;
  position: absolute;
  left: 50;
  top: 40px;
  border-radius: 50% 50% 600% 40%;
}
#diente1{
  width: 6px;
  height: 25px;  
  border: 1px black solid;
  background:white ; 
  border-radius: 0% 0% 30% 30%;
  position:absolute;
  left: 10px;
  top: -1px;
} 
#diente2{
  width: 6px;
  height: 25px;  
  border: 1px black solid;
  background:white ; 
  border-radius: 0% 0% 30% 30%;
  position:absolute;
  left: 30px;
  top: -1px;
}
.naranja{
    top: 200px;
    height:150px;
    width: 150px;
    border-radius: 50%;
    position: absolute;
    color: orange;
    background-color: currentColor;
}
.ojos_izquierda{
    width: 60px;
    height: 60px;
    border: 5px solid #fff23f;      
    background: #FFFFFF;
    border-radius: 50%;
    position: absolute;
    top: 215px;
    left: 15px;
}
.ojos_izquierda::after{
    content:"";
    position: absolute;
    border-radius: 50%;
    background-color: #000000;
    width: 30px;
    height: 30px;
    left: 15px;
    top: 15px;
}
.ojos_derecha{
    width: 60px;
    height: 60px;
    border: 5px solid #e6e619;      
    background: #FFFFFF;
    border-radius: 50%;
    position: absolute;
    top: 215px;
    left: 80px;
}
.ojos_derecha::after{
    content:"";
    position: absolute;
    border-radius: 50%;
    background-color: #000000;
    width: 30px;
    height: 30px;
    left: 15px;
    top: 15px;
}
.boca{
    width: 30px;
    height: 20px;
    border-radius: 0 0 5em 5em;
    border-bottom: 5px solid #675340; 
    border-right: 5px solid #675340; 
    border-left: 5px solid #675340; 
    position: absolute;
    left: 60px;
    top: 300px;
}
.hoja::after{
    content: "";
    clear: both;
    position: relative;

    display: flex;

    top: 150px;
    left: 70px;

    width: 0;
    height: 0;

    background-color: #539e3d;
    border-bottom: 3em solid rgb(0, 0, 0, 0.3);
    border-left: 3em solid transparent;
    border-radius: 80% 0 70% 0;
    transform: rotate(10deg);
}
.hoja2::after{
    content: "";
    clear: both;
    position: relative;

    display: flex;

    top: 105px;
    left: 20px;

    width: 0;
    height: 0;

    background-color: #539e3d;
    border-bottom: 3em solid rgb(0, 0, 0, 0.3);
    border-left: 3em solid transparent;
    border-radius: 80% 0 70% 0;
    transform: rotate(75deg);
}
.par1 {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    position: absolute;
    color: purple;
    box-shadow: 
        1000px 100px 0 0 currentColor,
        1020px 100px 0 0 currentColor;
    perspective-origin: right
}

.par2 {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    position: absolute;
    color: purple;
    box-shadow: 
        1040px 100px 0 0 currentColor,
        1060px 100px 0 0 currentColor;

}
.par3 {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    position: absolute;
    color: purple;
    box-shadow: 
        1080px 100px 0 0 currentColor,
        1100px 100px 0 0 currentColor;
}
.par4 {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    position: absolute;
    color: purple;
    box-shadow: 
        1120px 100px 0 0 currentColor,
        1140px 100px 0 0 currentColor;
}
.par5 {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    position: absolute;
    color: purple;
    box-shadow: 
        1010px 120px 0 0 currentColor,
        1030px 120px 0 0 currentColor;
}
.par6 {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    position: absolute;
    color: purple;
    box-shadow: 
        1050px 120px 0 0 currentColor,
        1070px 120px 0 0 currentColor;
}
.par7 {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    position: absolute;
    color: purple;
    box-shadow: 
        1090px 120px 0 0 currentColor,
        1110px 120px 0 0 currentColor;
}
.par8 {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    position: absolute;
    color: purple;
    box-shadow: 
        1130px 120px 0 0 currentColor;
}
.par9 {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    position: absolute;
    color: purple;
    box-shadow: 
        1020px 140px 0 0 currentColor,
        1040px 140px 0 0 currentColor;
}
.par10 {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    position: absolute;
    color: purple;
    box-shadow: 
        1060px 140px 0 0 currentColor,
        1080px 140px 0 0 currentColor;
}
.par11 {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    position: absolute;
    color: purple;
    box-shadow: 
        1100px 140px 0 0 currentColor,
        1120px 140px 0 0 currentColor;
}
.par12 {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    position: absolute;
    color: purple;
    box-shadow: 
        1030px 160px 0 0 currentColor,
        1050px 160px 0 0 currentColor;
}
.par13 {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    position: absolute;
    color: purple;
    box-shadow: 
        1070px 160px 0 0 currentColor,
        1090px 160px 0 0 currentColor;
}
.par14 {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    position: absolute;
    color: purple;
    box-shadow: 
        1110px 160px 0 0 currentColor;
}
.par15 {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    position: absolute;
    color: purple;
    box-shadow: 
        1040px 180px 0 0 currentColor,
        1060px 180px 0 0 currentColor;
}
.par16 {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    position: absolute;
    color: purple;
    box-shadow: 
        1080px 180px 0 0 currentColor,
        1100px 180px 0 0 currentColor;
}
.par17 {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    position: absolute;
    color: purple;
    box-shadow: 
        1050px 200px 0 0 currentColor,
        1070px 200px 0 0 currentColor;
}
.par18 {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    position: absolute;
    color: purple;
    box-shadow: 
        1090px 200px 0 0 currentColor;
}
.par19 {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    position: absolute;
    color: purple;
    box-shadow: 
        1060px 220px 0 0 currentColor,
        1080px 220px 0 0 currentColor;
}
.par20 {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    position: absolute;
    color: purple;
    box-shadow: 
        1070px 220px 0 0 currentColor;
}




.ojos_izquierdauva{
    width: 35px;
    height: 35px;
    border: 5px solid #fff23f;
    background: #FFFFFF;
    border-radius: 50%;
    position:absolute;
    top: 240px;
    left: 1040px;
    z-index: 1;
}
.ojos_izquierdauva::after{
    content:"";
    position: absolute;
    border-radius: 50%;
    background-color: #000000;
    width: 17px;
    height: 17px;
    left: 10px;
    top: 10px;
}
.ojos_derechauva{
    width: 35px;
    height: 35px;
    border: 5px solid #e6e619;
    background: #FFFFFF;
    border-radius: 50%;
    position: absolute;
    top: 240px;
    left: 1090px;
    z-index: 1;
}
.ojos_derechauva::after{
    content:"";
    position: absolute;
    border-radius: 50%;
    background-color: #000000;
    width: 17px;
    height: 17px;
    left: 10px;
    top: 10px;
}
.bocauva{
    width: 30px;
    height: 20px;
    border-radius: 0 0 5em 5em;
    border-bottom: 5px solid black; 
    border-right: 5px solid black; 
    border-left: 5px solid black; 
    position: absolute;
    top: 290px;
    left: 1070px;
    z-index: 1;
}
.hojauva::after{
    content: "";
    clear: both;
    position: relative;

    display: flex;

    top: 160px;
    left: 1080px;
    z-index: 1;

    width: 0;
    height: 0;

    background-color: #539e3d;
    border-bottom: 3em solid rgb(0, 0, 0, 0.3);
    border-left: 3em solid transparent;
    border-radius: 80% 0 70% 0;
    transform: rotate(10deg);
}
.hoja2uva::after{
    content: "";
    clear: both;
    position: relative;

    display: flex;

    top: 110px;
    left: 1030px;
    z-index: 1;

    width: 0;
    height: 0;

    background-color: #539e3d;
    border-bottom: 3em solid rgb(0, 0, 0, 0.3);
    border-left: 3em solid transparent;
    border-radius: 80% 0 70% 0;
    transform: rotate(75deg);
}
