body{
    background: blue;
}

.citron {
    margin-top: 35em;
    margin-left: 80em;
    width: 10em;
    height: 10em;
    border-radius: 70% 0 70% 0;
    background-color: yellow;
    box-shadow: inset .6em -.6em rgb(0, 0, 0, 0.3);
}

.citron::before{
    content: "";
    clear: both;
    position: relative;

    display: flex;

    top: -1.5em;
    left: 6.5em;

    width: 0;
    height: 0;

    background-color: #539e3d;
    border-bottom: 3em solid rgb(0, 0, 0, 0.3);
    border-left: 3em solid transparent;
    border-radius: 70% 0 70% 0;
    transform: rotate(45deg);
}

.citron-left-eye {
    width: 90px;
    height: 90px;
    border: 5px solid #e6e619;
    background: #FFFFFF;
    border-radius: 50%;
    position: absolute;
    top: 36em;
    left: 80em;
  }

.citron-left-eye::after {
    content:"";
    position: absolute;
    border-radius: 50%;
    background-color: #000000;
    width: 35px;
    height: 35px;
    left: 30px;
    top: 30px;
  }

.citron-right-eye {
    width: 90px;
    height: 90px;
    border: 5px solid #e6e619;    
    background: #FFFFFF;
    border-radius: 50%;
    position: absolute;
    top: 36em;
    left: 85em;
  }

.citron-right-eye::after {
    content:"";
    position: absolute;
    border-radius: 50%;
    background-color: #000000;
    width: 35px;
    height: 35px;
    left: 30px;
    top: 30px;
  }
.citron-mouth {
    width: 30px;
    height: 20px;
    border-radius: 0 0 5em 5em;
    border-bottom: 5px solid #675340;
    border-right: 5px solid #675340; 
    border-left: 5px solid #675340; 
    position: absolute;
    top: 42em;
    left: 84em;
  }