.citron {
    margin-top: 35em;
    margin-left: 80em;
    width: 10em;
    height: 10em;
    border-radius: 70% 0 70% 0;
    background-color: yellow;
    box-shadow: inset .6em -.6em rgb(0, 0, 0, 0.3);
}

.citron::before{
    content: "";
    clear: both;
    position: relative;

    display: flex;

    top: -1.5em;
    left: 6.5em;

    width: 0;
    height: 0;

    background-color: #539e3d;
    border-bottom: 3em solid rgb(0, 0, 0, 0.3);
    border-left: 3em solid transparent;
    border-radius: 70% 0 70% 0;
    transform: rotate(45deg);
}

.citron-left-eye {
    width: 90px;
    height: 90px;
    border: 5px solid #e6e619;
    background: #FFFFFF;
    border-radius: 50%;
    position: absolute;
    top: 36em;
    left: 80em;
  }

.citron-left-eye::after {
    content:"";
    position: absolute;
    border-radius: 50%;
    background-color: #000000;
    width: 35px;
    height: 35px;
    left: 30px;
    top: 30px;
  }

.citron-right-eye {
    width: 90px;
    height: 90px;
    border: 5px solid #e6e619;    
    background: #FFFFFF;
    border-radius: 50%;
    position: absolute;
    top: 36em;
    left: 85em;
  }

.citron-right-eye::after {
    content:"";
    position: absolute;
    border-radius: 50%;
    background-color: #000000;
    width: 35px;
    height: 35px;
    left: 30px;
    top: 30px;
  }
.citron-mouth {
    width: 30px;
    height: 20px;
    border-radius: 0 0 5em 5em;
    border-bottom: 5px solid #675340;
    border-right: 5px solid #675340; 
    border-left: 5px solid #675340; 
    position: absolute;
    top: 42em;
    left: 84em;
  }

  .sandia-left-eye {
    width: 55px;
    height: 55px;
    border: 5px solid #201008;    
    background: #FFFFFF;
    border-radius: 50%;
    position: absolute;
    top: 30px;
    left: 60px;
  }

  .sandia-left-eye::after {
    content:"";
    position: absolute;
    border-radius: 50%;
    background-color: red;
    width: 30px;
    height: 30px;
    left: 12px;
    top: 12px;
  }

  .sandia-right-eye {
    width: 55px;
    height: 55px;
    border: 5px solid #160c08;      
    background: #FFFFFF;
    border-radius: 50%;
    position: absolute;
    top: 30px;
    left: 180px;
  }

  .sandia-right-eye::after {
    content:"";
    position: absolute;
    border-radius: 50%;
    background-color:red;
    width: 30px;
    height: 30px;
    left: 12px;
    top: 12px;
  }
  
  .medio-circulo{
    width: 310px;
    height: 140px;
    background: red;
    border-radius:  0  0 120px 120px;
    position:absolute;
    left: 13px;
    top: 9px;
 }
 .medio-circulo2{
    width: 340px;
    height: 160px;
    background: rgb(40, 82, 24);
    border-radius:  0  0 130px 130px;
    position:relative;
    top: 380px;
    left: 30px;
   
 }
 .sandia-boca{
    width: 30px;
    height: 20px;
    border-radius: 0 0 5em 5em;
    border-bottom: 5px solid #474067; 
    border-right: 5px solid #4a4067; 
    border-left: 5px solid #444067; 
    position: absolute;
    left: 130px;
    top: 100px;
}
.circulo{
    width: 10px;
    height: 10px;
    background:black;
    border-radius: 50%;
    position: absolute;
    left: 10px;
    top: 10px;
}
.circulo2{
    width: 10px;
    height: 10px;
    background:black;
    border-radius: 50%;
    position: absolute;
    left: 20px;
    top: 30px;
}
.circulo3{
    width: 10px;
    height: 10px;
    background:black;
    border-radius: 50%;
    position: absolute;
    left: 40px;
    top: 40px;
}
.circulo4{
    width: 10px;
    height: 10px;
    background:black;
    border-radius: 50%;
    position: absolute;
    left: 65px;
    top: 90px;
}
.circulo5{
    width: 10px;
    height: 10px;
    background:black;
    border-radius: 50%;
    position: absolute;
    left: 260px;
    top: 100px;
}
.circulo6{
    width: 10px;
    height: 10px;
    background:black;
    border-radius: 50%;
    position: absolute;
    left: 90px;
    top: 20px;
}
.circulo7{
    width: 10px;
    height: 10px;
    background:black;
    border-radius: 50%;
    position: absolute;
    left: 120px;
    top: 100px;
}
.circulo8{
    width: 10px;
    height: 10px;
    background:black;
    border-radius: 50%;
    position: absolute;
    left:90px;
    top: 20px;
}
.circulo9{
    width: 10px;
    height: 10px;
    background:black;
    border-radius: 50%;
    position: absolute;
    left: 160px;
    top: 30px;
}
.circulo10{
    width: 10px;
    height: 10px;
    background:black;
    border-radius: 50%;
    position: absolute;
    left: 150px;
    top: 50px;
}
.circulo11{
    width: 10px;
    height: 10px;
    background:black;
    border-radius: 50%;
    position: absolute;
    left: 180px;
    top: 120px;
}
.circulo12{
    width: 10px;
    height: 10px;
    background:black;
    border-radius: 50%;
    position: absolute;
    left: 240px;
    top: 35px;
}
.circulo13{
    width: 10px;
    height: 10px;
    background:black;
    border-radius: 50%;
    position: absolute;
    left: 280px;
    top: 60px;
}
.circulo14{
    width: 10px;
    height: 10px;
    background:black;
    border-radius: 50%;
    position: absolute;
    left: 300px;
    top: 220px;
}
.banana {
    height: 400px;
    width: 400px;
    top: 5px;
    left: 350GITpx;
    position: relative;
  }
  
  .banana-body {
    height: 50%;
    width: 5px;
    top: 50px;
    left: 160px;
    border-right: 180px solid #ffff00;  
    border-radius: 0 150px 150px 0%;
    position: absolute;
    transform: rotate(15deg);
  }

  .banana-outline {
    height: 140%;
    width: 20px;
    top: -20px;
    left: -50px;
    border-top: 30px solid transparent;
    border-right: 120px solid #ffffff;  
    border-radius: 0 120px 120px 0%;
    position: absolute;
  }
  .banana-left-eye {
    width: 70px;
    height: 70px;
    border: 5px solid #e6e619;    
    background: #FFFFFF;
    border-radius: 50%;
    position: absolute;
    top: 100px;
    left: 230px;
  }
  
  .banana-left-eye::after {
    content:"";
    position: absolute;
    border-radius: 50%;
    background-color: #000000;
    width: 25px;
    height: 25px;
    left: 18px;
    top: 20px;
  }
  
  .banana-right-eye {
    width: 70px;
    height: 70px;
    border: 5px solid #e6e619;    
    background: #FFFFFF;
    border-radius: 50%;
    position: absolute;
    top: 100px;
    left: 290px;
  }
  
  .banana-right-eye::after {
    content:"";
    position: absolute;
    border-radius: 50%;
    background-color: #000000;
    width: 25px;
    height: 25px;
    left: 20px;
    top: 20px;
  }
  .banana-mouth {
    width: 20px;
    height: 10px;
    border-radius: 0 0 5em 5em;
    border-bottom: 5px solid #675340; 
    border-right: 5px solid #675340; 
    border-left: 5px solid #675340;
    position: absolute;
    left: 270px;
    top: 185px;
  }
  .banana-end {
    width: 10px;
    height: 15px;
    border-radius: 0 0 3em 3em;
    background: #996633;          
    position: absolute;
    transform: rotate(65deg);
    bottom: 60px;
    left: 210px;
    top:240px;
  }
  
  .banana-top {
    width: 35px;
    height: 12px;
    background: #4d9933;           
    position: absolute;
    transform: rotate(25deg);
    border-radius: 50% 0 0 50%;
    top: 33px;
    left: 200px;
  }
  .piernas {
    position: relative;
    bottom: 28px;
    left: 250px;
    top: 220px;
  }
  .pies {
    width: 40px;
    height: 3px;
    background-color: #000;
    display: inline-block;
    transform: rotate(90deg);
    z-index:0;
  }
  .pies1 {
    width: 40px;
    height: 3px;
    background-color: #000;
    display: inline-block;
    transform: rotate(90deg);
  }
.zapas {
    position: relative;
    bottom: 28px;
    left: 50px;
    top: 200px;
}
.zapa1 {
    width: 25px;
    height: 12px;
    background: #3f3617;          
    position: absolute;
    border-radius: 50% 0 0 50%;
    top: 33px;
    left: 200px;
}
.zapa2 {
    width: 25px;
    height: 12px;
    background: #3f3617;              
    position: absolute;
    border-radius: 50% 0 0 50%;
    transform: rotate(-30deg);
    top: 33px;
    left: 250px;
}